.centered {
    text-align: center;
}

.game--section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game--container {
    display: grid;
    height: 415px;
    width: 415px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr, 1fr 1fr 1fr 1fr;
    border: 2px solid black; 
}

.checkerbox {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
}

.grey  {
    background-color: grey;
}


.red--token {
background-color: red;
border: 2px solid darkgray;
border-radius: 50px;
padding: 1px;
height: 25px;
width: 25px;
}

.black--token {
    background-color: black;
    border: 2px solid darkgrey;
    border-radius: 50px;
    padding: 1px;
    height: 25px;
    width: 25px;
}

.king {
    border: rgb(255, 153, 0) solid 4px;
}

.potentialMove {
    background-color: yellow;
}

.turnSection {
    display:flex;
    width: 100vw;
    font-size: 38px;
    justify-content: space-evenly;
    align-items:center;
}

.black-turn-text, .red-turn-text {
    justify-content: space-between;
}

#win-text {
    font-size: 48px;
    text-align: center;
}